.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    margin: 20px auto;
    padding: 20px 0;
    width: min(800px);
    border-color: #ECA756;
    border-radius: 15px;
    box-shadow:  0px 3px 5px 1px #ECA756;
    
}

.formularioItens{
    width: min(720px);
    
}

.btn{
    box-sizing: border-box;
    width: 80px;
}

